body {
  padding: 50px;
  height: 100vh;
  background-color: rgb(221, 219, 208);

  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  color: rgb(31, 33, 39)
}

.button {
  margin-top: 100px;
  border-radius: 40px;
  background: #eae5e2;
  height: 60px;
  width: 40%;

  color: #1D1D1D;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; 
}

.button:hover {
  box-shadow: 1px 4px 16px 0px rgba(138, 138, 144, 0.64);
}

.button:active {
  box-shadow: 3px 8px 20px 0px rgba(138, 138, 144, 0.64);
}

.img {
  margin: 100px;
}